.card {
    transform: rotateY(180deg);
    font-size: 0;
    transition: transform 0.5s, font-size 0.7s;
}
.card img {
    transform: rotateY(180deg);
    transition: transform 0.5s, width 0.7s;
    width: 0;
}
.activeCard {
    transform: rotateY(0);
    font-size: 3rem;
    transition: transform 1s, font-size 0.7s;
}
.activeCard img {
    transform: rotateY(0);
    transition: transform 1s, width 0.7s;
    width: 100%;
}
