.card {
    transform: rotateY(180deg);
    font-size: 0;
    transition: transform 0.5s;
}
.activeCard {
    transform: rotateY(0);
    font-size: large;
    transition: transform 1s, font-size 0.7s;
}
